<!DOCTYPE html>
<html lang="en">

<head>

<style>
    body {
        background-color: grey;
    }
</style>

	<title>OAuth2</title>
</head>

<body>
	
	<div id="root" style="height: 100%;">
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
	
</body>

</html>