<!-- views/success.ejs -->
<!doctype html>
<html>
  <head>
    <title>Google SignIn</title>
  </head>
  <body>
    <div class="container">
      <p>
          <strong>Email</strong>: <%= user.displayName %><br>
      </p>
    </div>
  </body>
</html>